power-automate-pm-workflows/definition.json
{"name":"fdac01be-1bba-4474-9c28-0fcc333e067c","id":"/providers/Microsoft.Flow/flows/fdac01be-1bba-4474-9c28-0fcc333e067c","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Copy of - Weekly Task email (randomized for demo)","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowChargedByPaygo":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"flowclientsuspensionreasondetails":null,"creator":{"id":"11912dce-251b-4a4f-a8b2-2139b61f6689","type":"User","tenantId":"5989ece0-f90e-40bf-9c79-1a7beccdb861"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2026-07-07T11:16:04.278958Z","connectionKeySavedTimeKey":"2026-07-07T11:15:21.8272552Z","creationSource":null,"modifiedSources":"Portal"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"undefined","parameters":{"$authentication":{"defaultValue":{},"type":"SecureObject"},"$connections":{"defaultValue":{},"type":"Object"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Week","interval":"1","startTime":"2026-03-23T04:30:00.000Z","schedule":{"weekDays":["Monday"]},"timeZone":"India Standard Time"},"evaluatedRecurrence":{"frequency":"Week","interval":"1","startTime":"2026-03-23T04:30:00.000Z","schedule":{"weekDays":["Monday"]},"timeZone":"India Standard Time"},"type":"Recurrence"}},"actions":{"Compose":{"runAfter":{"List_rows_present_in_a_table":["Succeeded"]},"type":"Compose","inputs":"@add(div(sub(dayOfMonth(utcNow()),1),7),1)\r\n"},"Apply_to_each":{"foreach":"@body('Filter_array')","actions":{"Append_to_string_variable":{"type":"AppendToStringVariable","inputs":{"name":"EmailBody","value":"@concat(item()?['TaskFocus'],'<br><a href=\"',item()?['LinkURL'],'\">',item()?['LinkName'],'</a><br><br>')"}}},"runAfter":{"Initialize_variable_-_email_body":["Succeeded"]},"type":"Foreach"},"Initialize_variable_-_email_body":{"runAfter":{"Filter_array":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"EmailBody","type":"string"}]}},"Send_an_email_(V2)":{"runAfter":{"Get_file_content__etraining":["Succeeded"]},"type":"OpenApiConnection","inputs":{"parameters":{"emailMessage/To":"sharon.jemimahs@iqvia.com","emailMessage/Subject":"Project_name Weekly Task Summary: @{formatDateTime(outputs('ComposeMonday'),'ddMMM')}-@{formatDateTime(outputs('Compose_Friday'),'ddMMMyyyy')}","emailMessage/Body":"<p class=\"editor-paragraph\">@{concat('Dear Team,<br><br>','Below is the summary of project tasks for this week.<br><br>','<b style=\"color:#0B5394; font-size:14px;\">Key Tasks of the Week</b><br><br>','<table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse; width:100%; text-align:left; font-family:Segoe UI, Arial; font-size:13px;\">','<tr style=\"background-color:#0B5394; color:#ffffff;\"><th>Action</th><th>Details and Instructions</th><th>Assigned to</th><th>Due Date</th></tr>','<tr><td><b>Internal &amp; External Meeting Agenda</b><br>','<a href=\"https://www.example.com/demo/meeting-agenda\">','Demo Meeting Agenda</a></td>','<td>Functional leads to add discussion topics to the agenda.<br><br>','Please update a single document with two sections:<br>','• Internal topics<br>','• Topics to transition to the external agenda</td>','<td>All invited leads</td>','<td>Tuesday, ',formatDateTime(addDays(utcNow(),if(equals(dayOfWeek(utcNow()),2),7,sub(2,dayOfWeek(utcNow())))),'dd-MMM-yyyy'),'<br><i>(prior to internal meeting)</i></td></tr>','<tr style=\"background-color:#f6f8fa;\"><td><b>Dashboard Metrics Review</b></td>','<td>Instructions shared by email.<br><br>','Please follow the updated file review guidance moving forward and cascade to relevant teams:<br>','<b>Demo Filing Guideline v1.0 attached</b></td>','<td>Project Coordinator, Quality Lead, Support Team</td>','<td>Due ',formatDateTime(addDays(startOfMonth(utcNow()),19),'dd MMM yyyy'),'</td></tr>','</table><br><hr><br>','<b style=\"color:#0B5394; font-size:14px;\">Upcoming Task Focus</b><br><br>',variables('EmailBody'),'<hr style=\"margin-top:10px; margin-bottom:10px;\">','<b style=\"color:#0B5394; font-size:14px;\">Regular Weekly Tasks</b><br><br>','<table border=\"1\" cellpadding=\"6\" style=\"border-collapse:collapse; width:100%; table-layout:fixed; text-align:left; font-family:Segoe UI, Arial; font-size:13px;\">','<colgroup><col style=\"width:22%;\"><col style=\"width:48%;\"><col style=\"width:14%;\"><col style=\"width:16%;\"></colgroup>','<tr style=\"background-color:#0B5394; color:#ffffff;\">','<th>Action</th><th>Details</th><th>Assigned to</th><th>Due Date</th>','</tr>','<tr>','<td style=\"vertical-align:top;\"><b>Project Plan Tracker Maintenance</b><br>','<a href=\"https://www.example.com/demo/project-plan-tracker\">','Project Plan Tracker</a></td>','<td style=\"vertical-align:top;\">Provide projected dates and comments; be prepared to present during the internal meeting.<br><br>','<i>Note: This is a demo tracker link and does not contain real project data.</i></td>','<td style=\"vertical-align:top;\">All task owners</td>','<td style=\"vertical-align:top;\">Weekly<br><i>(prior to internal meeting)</i></td>','</tr>','<tr style=\"background-color:#f6f8fa;\">','<td style=\"vertical-align:top;\"><b>Action Log Maintenance</b><br>','<a href=\"https://www.example.com/demo/action-log\">','Demo Action Log</a></td>','<td style=\"vertical-align:top;\">Provide updates if applicable; be prepared to present during the internal meeting.</td>','<td style=\"vertical-align:top;\">All task owners</td>','<td style=\"vertical-align:top;\">Weekly<br><i>(prior to internal meeting)</i></td>','</tr>','<tr>','<td style=\"vertical Tracker</b><br>','https://www.example.com/demo/availability-tracker','Demo Availability Tracker</a></td>','<td style=\"vertical-align:top;\">Encourage team members to update availability weekly.<br>Include backup coverage details where applicable.</td>','<td style=\"vertical-align:top;\">All team leads</td>','<td style=\"vertical-align:top;\">Weekly<br><i>(prior to internal meeting)</i></td>','</tr>','<tr style=\"background-color:#f6f8fa;\">','<td style=\"vertical-align:top;\"><b>Training Compliance</b></td>','<td style=\"vertical-align:top;\">Team members to complete assigned trainings before the due date.<br><br>','Refer to the demo training report for pending and overdue items.</td>','<td style=\"vertical-align:top;\">All team members</td>','<td style=\"vertical-align:top;\">Prior to training due date</td>','</tr>','<tr>','<td style=\"vertical-align:top;\"><b>Team Contact List</b><br>','https://www.example.com/demo/team-directory','Demo Team Contact List</a></td>','<td style=\"vertical-align:top;\">No actions</td>','<td style=\"vertical-align:top;\">Project team</td>','<td style=\"vertical-align:top;\">Completed for this quarter<br><i>Next review planned next quarter</i></td>','</tr>','</table>','<div style=\"margin-top:10px;\">','<b style=\"color:#0B5394; font-size:14px;\">Additional Information</b><br><br>','1. Approved baseline document is available here: ','https://www.example.com/demo/approved-baseline','Demo Approved Baseline Document</a><br><br>','2. <b>Change Request #03</b> is currently under review. Functional leads are requested to review current budget and effort assumptions by <b>end of this month</b> and initiate any required discussions with the project coordinator during <b>planning week</b>.<br><br>','3. All further new change requests should be logged here: ','https://www.example.com/demo/change-request-tracker','Demo Change Request Tracker</a><br><br>','Regards<br>Demo Coordinator','</div>')}</p>","emailMessage/Cc":"sharon.jemimahs@iqvia.com","emailMessage/Attachments":[{"Name":"eTMF filing guidelines.xlsx","ContentBytes":"@body('Get_file_content')"},{"Name":"eTraining Compliance report.xlsx","ContentBytes":"@body('Get_file_content__etraining')"}],"emailMessage/Importance":"Normal"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_office365","connectionName":"shared_office365","operationId":"SendEmailV2"},"authentication":"@parameters('$authentication')"}},"Compose_StringWeek":{"runAfter":{"Compose":["Succeeded"]},"type":"Compose","inputs":"@string(outputs('Compose'))"},"Filter_array":{"runAfter":{"Compose_StringWeek":["Succeeded"]},"type":"Query","inputs":{"from":"@outputs('List_rows_present_in_a_table')?['body/value']","where":"@equals(item()?['WeekNumber'],outputs('Compose_StringWeek'))"}},"ComposeMonday":{"runAfter":{"Apply_to_each":["Succeeded"]},"type":"Compose","inputs":"@addDays(utcNow(), sub(0, sub(dayOfWeek(utcNow()), 1)))"},"Compose_Friday":{"runAfter":{"ComposeMonday":["Succeeded"]},"type":"Compose","inputs":"@adddays(outputs('ComposeMonday'), 4)"},"Get_file_content":{"runAfter":{"Compose_Friday":["Succeeded"]},"metadata":{"%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.11%2bTMF%2bReporting%252fProject_name_eTMF%2bFiling%2bGuideline_v3.0_29JAN2026%2b(2).xlsx":"/Internal use/01 Project Management/01.11 TMF Reporting/Project_name_eTMF Filing Guideline_v3.0_29JAN2026 (2).xlsx","%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.11%2bTMF%2bReporting%252fHAB75709-Project_name_eTMF%2bFiling%2bGuideline%2bv1.0_29-Jan-2024-0001.xlsx":"/Internal use/01 Project Management/01.11 TMF Reporting/HAB75709-Project_name_eTMF Filing Guideline v1.0_29-Jan-2024-0001.xlsx","%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.10%2beTraining%2bCompliance%252fReporting%252fProject_nameeTraining_Compliance_Report_July2026.xlsx":"/Internal use/01 Project Management/01.10 eTraining Compliance/Reporting/Project_nameeTraining_Compliance_Report_July2026.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://quintiles.sharepoint.com/sites/HAB75709","id":"%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.11%2bTMF%2bReporting%252fProject_name_eTMF%2bFiling%2bGuideline_v3.0_29JAN2026%2b(2).xlsx","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}},"List_rows_present_in_a_table":{"runAfter":{},"metadata":{"01FOFINRKF4GA736TRNRBYLEGFKZ562NJY":"/Documents/Projects - My files/Emails/Weekly_Email_Control New V.xlsx","tableId":"{CFAE9363-AF83-47F5-948A-BEC30E1A269E}","01FOFINRP5NU5WDOXQTVBI5IZ2PNP65Z7B":"/Documents/Projects - My files/Emails/Weekly_Email_Control New V - randomised for demo.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"source":"me","drive":"b!4nirlhTr_0-lz5OZrpA922Dm5dsAJshEvr1IZS1m963uuLjsL89jRLVKVwANl8D5","file":"01FOFINRP5NU5WDOXQTVBI5IZ2PNP65Z7B","table":"{CFAE9363-AF83-47F5-948A-BEC30E1A269E}"},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","connectionName":"shared_excelonlinebusiness-1","operationId":"GetItems"},"authentication":"@parameters('$authentication')"}},"Get_file_content__etraining":{"runAfter":{"Get_file_content":["Succeeded"]},"metadata":{"%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.10%2beTraining%2bCompliance%252fReporting%252fProject_nameeTraining_Compliance_Report%2bApr2026.xlsx":"/Internal use/01 Project Management/01.10 eTraining Compliance/Reporting/Project_nameeTraining_Compliance_Report Apr2026.xlsx","%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.10%2beTraining%2bCompliance%252fReporting%252fProject_nameeTraining_Compliance_Report_July2026.xlsx":"/Internal use/01 Project Management/01.10 eTraining Compliance/Reporting/Project_nameeTraining_Compliance_Report_July2026.xlsx"},"type":"OpenApiConnection","inputs":{"parameters":{"dataset":"https://quintiles.sharepoint.com/sites/HAB75709","id":"%252fInternal%2buse%252f01%2bProject%2bManagement%252f01.10%2beTraining%2bCompliance%252fReporting%252fProject_nameeTraining_Compliance_Report_July2026.xlsx","inferContentType":true},"host":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","connectionName":"shared_sharepointonline","operationId":"GetFileContent"},"authentication":"@parameters('$authentication')"}}}},"connectionReferences":{"shared_office365":{"connectionName":"shared-office365-687051a9-36b0-4b7b-bca8-a8c3104fe002","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified","apiName":"office365","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_sharepointonline":{"connectionName":"d5bd4149bf3b41c0aecb7bcae77cd8a3","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_sharepointonline","tier":"NotSpecified","apiName":"sharepointonline","isProcessSimpleApiReferenceConversionAlreadyDone":false},"shared_excelonlinebusiness-1":{"connectionName":"b1fbc43d299a48bcbab034b03a30496e","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_excelonlinebusiness","tier":"NotSpecified","apiName":"excelonlinebusiness","isProcessSimpleApiReferenceConversionAlreadyDone":false}},"flowFailureAlertSubscribed":false,"isManaged":false}}